<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><br><br><br>
    <center>
    <button type="send" name="button"><a href="/register">Register</a></button>
      <button type="send" name="button"><a href="/login">Login</a></button>
  </center>
  </body>
</html>
